body{
    margin: 0px;
}
#navbar{
    background-color: #171447;
    margin: 0px;
    list-style-type: none;
    height: 65px;
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-box-shadow: 0px 4px 5px -1px rgba(134,134,134,1);
    -moz-box-shadow: 0px 4px 5px -1px rgba(134,134,134,1);
    box-shadow: 0px 4px 5px -1px rgba(134,134,134,1);

}
#navbar li{
    float: left;
    padding: 0px 20px;

}
#navbar li a{
    color: #B8B6B6;
    text-decoration: none;
}

#navbar li a:hover{
    color: #fff;
}
#navbar li img{
    height: 50px;
}
.active-link{
    font-weight: bold;
    color: #fff !important;
}
