<footer>
    <div class="row" >
        <div class="col-md-3" id="cont-img">
            <a routerLink="/registro" >
                <img src="assets/images/logo.png" class="img-fluid" alt="">
            </a>
        </div>
        <div class="col-md-3">
            <div><b>Links</b></div>
            <ul id="links">
                <li><a routerLink="/registro">Registro</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <div><b>Contácto</b></div>
            <ul id="links">
                <li class="list-item">
                    <mat-icon> location_on</mat-icon>
                    Calle Principal # 40
                </li>
                <li class="list-item">
                    <mat-icon>perm_phone_msg</mat-icon>
                    +57 3026574576
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <li class="list-item">
                <a href="">
                    <mat-icon>facebook</mat-icon>
                     Hubbec
                </a>
            </li>
            
        </div>
    </div>
</footer>